.talents-background{
	background-color:black;
	margin:2px;
	padding:5px;
}
.level-content{
	background-color:#1f1f1f;
	margin:3px;
	padding:1px;
	height:44px;
	display:block;
	clear:both;
}
.level-content div{
	float:left;
	height:40px;
	width:40px;
	margin:2px;
	position:relative;
}
.level-content div img {
	height:40px;
	width:40px;
}
.level-content  .talent-green{
	border: 1px solid green;
	bottom:-2px;
	position:absolute;
	right:-2px;
}
.level-content  .talent-container  .talent-rank{
	color:red;
	height:20px;
	bottom:0px;
	right:-8px;
	position:absolute;
}
.level-content  .talent-container  .talent-fork{
	position:absolute;
	top:40px;
}
.level-content  .talent-container  .lock-rect{
	position:absolute;
	bottom:-2px;
	right:-2px;
	background-color:rgba(255, 0, 0, 0.4);
}
.level-content .talent-container .bright-img{
	position:absolute;
	bottom:0px;
	right:0px;
}
.level-content .level-header{
	color:#939182;
	width:100px;
	height:40px;
}
.level-content:hover .level-header{
	color:#e7a516;
}
.general-info{
	background-color:pink;
	display:block;
	width:100%;
}
.general-info div{
	float:left;
	margin:5px;
}
.ui-tooltip {
	position: absolute;
	border:1px solid #e7a516;
	background-color: rgba(55,55,55,0.9);
	width:400px;
	padding:10px;
	font-family:'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}
.ui-tooltip  h3 {
	color:#00ff00;
	margin:0px;
}
.ui-tooltip div {
	color:white;
	font-size:10pt;
}
.ui-tooltip div span {
	color:#e7a516;
}
.ui-helper-hidden-accessible {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}